<ion-content class="component-content">
  <ion-accordion-group>
    <ion-accordion value="type">
      <ion-item slot="header">
        <ion-label class="title">Types</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item *ngFor="let type of types" (click)="selectFilter(type)">
          <ion-label>{{ type }}</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label class="title">Colors</ion-label>
      </ion-item>

      <ion-list slot="content" class="colours-list">
        <ion-item lines="none" *ngFor="let colour of colours" (click)="selectFilter(colour)">
          <div class="option-wrapper">
            <!-- [ngClass]="{isColourSelected('colour[0]') ? 'selected-colour' : 'colour'} -->
            <div id="colour[1]" class="colour" [ngClass]="{'selected-colour': isColourSelected(colour[0]), 'colour': !isColourSelected(colour[0])}" [style.background-color]="colour[1]" (click)="selectColour(colour[0])"></div>
            <ion-label>{{ colour[0] }}</ion-label> 
          </div>  
          <!-- <ion-checkbox slot="end"></ion-checkbox> -->
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
