.title {
  font-family: DidonesqueStencilItalic;
  font-size: 19px;
}

.colours-list {
  display: flex;
  flex-wrap: wrap;
}

.option-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 140px;
}

.colour {
  width: 22px;
  height: 22px;
  // border-radius: 50px;
  border-width: 2px;
  border-color: #d9d0d0;
  border-style: solid;
  margin-left: 2px;
  margin-right: 10px;
}

.selected-colour {
  width: 22px;
  height: 22px;
  // border-radius: 50px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  outline: 2px solid rgb(82, 78, 78);
  margin-left: 2px;
  margin-right: 10px;
}

.colour-label {
  color: gray;
  font-family: BarlowCondensedRegular;
  font-size: 17.4px;
}

.selected-colour-label {
  color: #404040;
  font-family: BarlowCondensedMedium;
  font-size: 17.4px;
}

.footer {
  display: flex;
  flex-direction: row;
 
  .full {
    flex-grow: 1;
    transition: 0.2s linear;
    margin-right: 10px;
    height: 34px;
  }

  .invisible {
    flex-grow: 0;
    width: 0%;
    visibility: hidden;
    transition: 0.2s linear;
  }
  
  .visible {
    width: 60px;
    flex-grow: 1;
    transition: 0.2s linear;
    margin-right: 10px;
    height: 34px;
  }
}

