ion-menu {
  --ion-background-color: black !important;
  --ion-text-color: white !important;
}

.icon-colour {
  fill: white !important;
  stroke: white !important;
}

.active-item {
  font-size: 18px;
  font-family: DidonesqueStencilItalic;
}

@media (min-width: 768px) {
  ion-router-outlet {
    margin-top: 54px;
  }
}

@media (max-width: 768px) {
  ion-router-outlet {
    margin-top: calc(var(--ion-safe-area-top) + var(--header-height));
  }
}

.logout-btn {
  margin: 90px 0px;
}

.exit-icon {
  fill: white;
  font-size: 26px;
  margin-right: 30px;
}
