<ion-content fullscreen="true" scrollY="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-title>Create Account</ion-title>

  <div class="login">
    <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate vertical="bottom">
      <ion-item lines="none">
        <ion-input formControlName="firstName" placeholder="First Name"></ion-input>
        <ion-note *ngIf="(registerFormControls.firstName.touched || isSubmitted) && registerFormControls.firstName.errors?.required" slot="error">First Name is required</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-input formControlName="lastName" placeholder="Last Name"></ion-input>
        <ion-note *ngIf="(registerFormControls.lastName.touched || isSubmitted) && registerFormControls.lastName.errors?.required" slot="error">Last Name is required</ion-note>
      </ion-item>
      
      <ion-item lines="none">
        <ion-input formControlName="username" placeholder="Username"></ion-input>
        <ion-note *ngIf="(registerFormControls.username.touched || isSubmitted) && registerFormControls.username.errors?.required" slot="error">Username is required</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-input formControlName="email" placeholder="Email"></ion-input>
        <ion-note *ngIf="(registerFormControls.email.touched || isSubmitted) && registerFormControls.email.errors?.required" slot="error">Email is required</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password"></ion-input>
        <p class="pw-toggle" slot="end" (click)="showPassword = !showPassword"> {{ showPassword ? 'HIDE' : 'SHOW' }} </p>
        <ion-note *ngIf="(registerFormControls.password.touched || isSubmitted) && registerFormControls.password.errors?.required" slot="error">Password is required</ion-note>
      </ion-item>

      <ion-item lines="none">
        <ion-input formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password"></ion-input>
        <p class="pw-toggle" slot="end" (click)="showConfirmPassword = !showConfirmPassword"> {{ showConfirmPassword ? 'HIDE' : 'SHOW' }} </p>
        <ion-note *ngIf="(registerFormControls.confirmPassword.touched || isSubmitted) && registerFormControls.confirmPassword.errors?.required" slot="error">Confirm Password is required</ion-note>
        <ion-note style="color: #eb445a" *ngIf="registerFormControls.confirmPassword.touched && !passwordAndConfirmMatch()" slot="helper">Confirmation and password do not match</ion-note>
      </ion-item>

      <ion-button type="submit" expand="block" class="login-btn">Create Account</ion-button>
    </form>
  </div>
</ion-content>
