ion-content {
  --background: #131413;
}

ion-toolbar {
  --background: transparent;
}

ion-buttons > ion-button {
  font-family: DidonesqueStencilRoman;
}

ion-title {
  color: white !important;
  font-size: 40px;
  text-align: center;
  font-family: DidonesqueStencilItalic;
  position: relative;
  top: 50px;
}

.login {
  padding: 50px 30px;
  margin-top: 80px;

  ion-item {
    --background: #2d282d;
    --color: white;
    border-radius: 6px;
    margin-bottom: 20px;
    p {
      opacity: 0.5;
      font-size: 13px;
    }
  }

  ion-button {
    font-family: DidonesqueStencilRoman;
  }

  .login-btn {
    border: 1px solid var(--ion-color-dark);
    border-radius: 6px;
    --background: var(--ion-color-secondary);
    --color: black;
    font-size: large;
  }

  p {
    opacity: 0.8;
    font-size: 14px;
  }

}

ion-back-button {
  --color: white !important;
}

@media only screen and (min-width: 1000px){
  .login {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}