<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/my-wardrobe"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/my-wardrobe"></ion-back-button>
  </ion-buttons>
  
  <ion-toolbar>
    <ion-title size="large">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-card class="card-wrapper">
      <ion-card-header>
        <ion-card-title>Upload photo</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-img [src]=apparelUploadedImage></ion-img>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addApparelPhoto()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>

        <ion-note *ngIf="isSubmitted && !isUploaded" slot="error" color="danger">Image is required</ion-note>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <form [formGroup]="saveApparelForm" (ngSubmit)="submitForm()" novalidate vertical="bottom">
    <ion-item lines="full">
      <ion-label position="floating">Type</ion-label>
      <ion-select placeholder="Select Type" formControlName="type">
        <ion-select-option *ngFor="let type of types" [value]="type">{{ type }}</ion-select-option>
      </ion-select>
      <ion-note *ngIf="isSubmitted && saveApparelFormControl.type.errors?.required" slot="error">Type is required</ion-note>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Colour</ion-label>
      <ion-select placeholder="Select Colour" formControlName="colour" required>
        <ion-select-option  *ngFor="let colour of colours" [value]="colour[0]">
          {{ colour[0] }}
          <ion-img></ion-img>
        </ion-select-option>
      </ion-select>
      <ion-note *ngIf="isSubmitted && saveApparelFormControl.colour.errors?.required" slot="error">Colour is required.</ion-note>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
