<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Your wardrobe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your wardrobe</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button shape="round" fill="outline" routerLink="/new-apparel">
    <ion-icon class="add-icon" name="add-circle"></ion-icon>
    New apparel
  </ion-button>

  <ion-img [src]=objectURL></ion-img>

  <ion-list>
    <ion-item *ngFor="let outfit of items">
      <div class="container">
        <div class="clothing-item">
          <app-clothing-item [clothingItem]="outfit"></app-clothing-item>
        </div>
        <div class="middle actions">
          <div class="text edit">
            Edit
            <ion-icon class="card-icon" name="brush"></ion-icon>
          </div>
          <div class="text delete" (click)="deleteOutfit(outfit.id)">
            Delete
            <ion-icon class="card-icon" name="trash"></ion-icon>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
