<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Your wardrobe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoaded; else showLoader" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your wardrobe</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button class="add-apparel-btn" shape="round" fill="outline" routerLink="/new-apparel">
    <ion-icon class="add-icon" name="add-circle"></ion-icon>
    New apparel
  </ion-button>

  <ion-list *ngIf="filteredApparels.length > 0; else emptyWardrobe">
    <ion-item *ngFor="let apparel of filteredApparels" lines="none">
      <div class="card-wrapper">
        <div class="apparel-wrapper">
          <app-apparel [apparel]="apparel"></app-apparel>
        </div>

        <div class="middle action-container"> 
          <ion-button class="action-btn edit" size="small" [routerLink]="['/new-apparel',apparel.id]">
            Edit
            <ion-icon slot="end" name="brush"></ion-icon>
          </ion-button>

          <ion-button class="action-btn delete" size="small" (click)="presentAlertConfirm(apparel.id)">
            Delete
            <ion-icon slot="end" name="trash"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ng-template #emptyWardrobe>
    <div class="empty-container">
      <ion-img class="hanger-img" [src]="iconHanger"></ion-img>
      <p *ngIf="apparels.length > 0" class="long-text">No clothes match the filter</p>
      <p *ngIf="apparels.length == 0">No clothes yet</p>
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-hide-md-up">
    <ion-fab-button (click)="openFiltersModal()">
      <ion-icon name="filter"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #showLoader>
  <div class="spin">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</ng-template>

