ion-content {
  --background: #131413;
}

ion-title {
  color: white !important;
  font-size: 40px;
  text-align: center;
  font-family: DidonesqueStencilItalic;
  position: relative;
  top: 120px;
}

.login {
  padding: 50px 30px;
  margin-top: 220px;

  ion-item {
    --background: #2d282d;
    --color: white;
    border-radius: 6px;
    margin-bottom: 20px;
    p {
      opacity: 0.5;
      font-size: 13px;
    }
  }

  ion-button {
    font-family: DidonesqueStencilRoman;
  }

  .login-btn {
    border-radius: 6px;
    --background: var(--ion-color-primary);
    --color: white;
    font-size: large;
  }

  .login-valid {
    --background: #f8e6e7;
    --color: black;
  }

  p {
    opacity: 0.8;
    font-size: 14px;
  }
}

.register-link-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    color: white;
  }
}
