ion-content {
  --ion-background-color: #fcfafb !important;
}

ion-header {
  --ion-background-color: black !important;
}

ion-title {
  color: white !important;
  font-size: x-large;
  text-align: center;
  font-family: DidonesqueStencilItalic;
}

.no-outfits {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

ion-card-title {
  justify-content: center;
  display: flex;
}

.two-piece-wrapper {
  .manequin-img {
    width: 280%;
  }

  ion-card {
    width: 180px;
  }

  .apparel-img {
    width: 150px;
    height: 222px;
    object-fit: contain;
  }
}

ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.one-piece-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .manequin-img {
    width: 150px;
  }

  ion-card {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .apparel-img {
    width: 330px;
    height: 400px;
    object-fit: contain;
  }
}

.refresh-btn-wrapper {
  position: fixed;
  left: 0;
  bottom: 0px;
  right: 0;
}

.empty-container {
  p {
    font-size: 16px;
    position: relative;
    bottom: 20px;
  }
}

.manequin-img {
  width: 140px;
}

.heart-img {
  width: 24px;
}
