/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: DidonesqueStencilEleganteBold;
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/DidonesqueStencilEleganteBold.otf);
}

@font-face {
  font-family: DidonesqueStencilItalic;
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/DidonesqueStencilItalic.otf);
}

@font-face {
  font-family: DidonesqueStencilRoman;
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/DidonesqueStencilRoman.otf);
}

:root {
  // Set the background of the entire app
  --ion-background-color: white;
  // Set the default text color
  --ion-text-color: #302e2e;
  // Set the font family of the entire app
  --ion-font-family: DidonesqueStencilRoman;
}

h1,
h2,
h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: DidonesqueStencilItalic;
}

ion-alert {
  // Checked text color
  [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: var(--ion-color-step-850, rgb(250, 185, 185));
  }

  // checkbox or radio button color
  .alert-radio-inner.sc-ion-alert-md {
    background-color: #f8e6e7 !important;
  }

   // checkbox border color
   [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
    border-color: rgb(250, 185, 185);
  }
}

.success-alert {
  --ion-background-color: rgb(234, 255, 209) !important;
  --ion-text-color:rgb(0, 100, 45) !important;
  .alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
    color: rgb(0, 100, 45) !important;
  }
}

.error-alert {
  --ion-background-color: rgb(247, 230, 230) !important;
  --ion-text-color:rgb(190, 2, 2) !important;
  .alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
    color: rgb(190, 2, 2) !important;
  }
}

.confirmation-dialog {
  .alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
    padding-bottom: 0;
  }
}
